doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    block prehead
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='Error page')
    link(rel='apple-touch-icon', href='/favicon152.png')

    style: :stylus(compress=true)
      body
        font-size 1.2em
        line-height 1.4
      .content
        margin 0 auto
        max-width 600px
        text-align center
      a
        text-decoration none
        &:hover
          text-decoration underline
      .face
        font-size 3em
        font-weight bold

  body: .content
    block content
