extends ../base

block prehead
  title 404: Page not found
  meta(name='description', content='404: Page not found')

block content
  .face (༎ຶ ෴ ༎ຶ)
  h1 404: Page not found.
  p Sorry, this page wasn’t found.

  .footer
    :markdown-it
      — [Paul Nechifor](/)

    small: :markdown-it
      [Home](/) •
      [Blog](/blog) •
      [Projects](/projects) •
      [Twitter](https://twitter.com/PaulNechifor)
