extends ../base

block prehead
  title 500: Oh, no! Something went wrong.
  meta(name='description', content='500: Oh, no! Something went wrong.')

block content
  .face (っ◞‸◟c)

  h1 500: Oh, no! Something went wrong

  p Sorry, this page errored.

  .footer
    :markdown-it
      — [Paul Nechifor](/)

    small: :markdown-it
      [Home](/) •
      [Blog](/blog) •
      [Projects](/projects) •
      [Twitter](https://twitter.com/PaulNechifor)
