extends ../base

block prehead
  title 500: Oh, no! Something went wrong.

block content
  :markdown-it(html=true)
    # 404: Oh, no! Something went wrong. (っ◞‸◟c)

    Sorry, this page errored.

    — [Paul Nechifor](/)
